@model IEnumerable<Kryptos.Models.AspNetUser>

@{
    ViewBag.Title = "List";
}
<div class="page-container">
    <div class="page-content-wrapper">

        <div class="page-content">
            <div class="container-fluid">
                <div class="portlet box blue">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Manage User > <b>User List</b></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <div class="form-group">
                                                <select class="form-control input-sm  form-control-flat">
                                                    <option>05</option>
                                                    <option>10</option>
                                                    <option>20</option>
                                                    <option>30</option>
                                                    <option>40</option>
                                                    <option>All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="padding-left:0px;">
                                            <p class="form-control-static">records per page</p>
                                        </div>
                                        <div class="col-lg-3 col-lg-offset-5">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm  form-control-flat" placeholder="Search record here...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-sm btn-flat" type="button">Go!</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered" style="overflow-x:auto;">
                                        <thead>
                                            <tr>
                                                <th>Picture</th>
                                                <th>User Name </th>
                                                <th>Email ID </th>
                                                <th>Contact No. </th>
                                                <th>Organization</th>
                                                <th>User Role </th>
                                                <th>Status</th>
                                                <th>Date of Registration </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Kryptos.Models.AspNetUser user in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"><img src="~/Images/@user.photo" class="img-circle" title="Profile Picture" style="width:50px;"></td>
                                                    <td><a href="#">@user.UserName</a></td>
                                                    <td>@user.Email</td>
                                                    @{
                                                var number = String.Format("{0:(###) ###-####}", double.Parse(user.PhoneNumber));
                                                    }
                                                    <td>@number</td>
                                                    @{
                                                if (user.Organisation != null)
                                                {
                                                    <td>@user.Organisation.Name</td>}
                                                else
                                                {
                                                    <td class="text-danger"><b>No Associated Organization</b></td>
                                                }
                                                    }
                                                    <td><p align="center">@user.AspNetRole.Name</p></td>
                                                    @{
                                                bool stat = @user.Status == "Active" ? true : false;
                                                string activestring = "";
                                                string activestringstatus = "";
                                                string inactivestring = "";
                                                string inactivestringstatus = "";
                                                    }
                                                    @{
                                                if (stat) { activestringstatus = "active"; activestring = "checked=\"checked\""; }
                                                else { inactivestringstatus = "active"; inactivestring = "checked=\"checked\""; }
                                                    }
                                                    <td class="text-center">
                                                        <div class="btn-group" id="status" data-toggle="buttons">
                                                            <label class="btn btn-default btn-on-3 btn-sm @activestringstatus">
                                                                <input type="radio" value="1" name="multifeatured_module[module_id][status]" @activestring>Active
                                                            </label>
                                                            <label class="btn btn-default btn-off-3 btn-sm @inactivestringstatus">
                                                                <input type="radio" value="0" name="multifeatured_module[module_id][status]" @inactivestring>Inactive
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td><p>@user.CreatedDate.ToString("dd MMMM yyyy")</p></td>
                                                    <td><p align="center"><a href="#"><img src="~/styles/imgs/edit.png" title="Edit" width="20" height="20" border="0" style="margin-right:5px"> <img src="~/styles/imgs/delete.png" title="Delete" width="20" height="20" border="0"></a></p></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="col-sm-7" align="left">
                                        <p class="form-control-static text-center">Showing 1 to 5 of 15 entries</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="white">&times;</span> </button>
                    Results for "Latest Registered Domains
                </div>
            </div>
            <div class="modal-body no-padding">INSERT FORM</div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
